
<div class="page-header">
  <h1>Some fancy header</h1>
</div>



<div class="list-group menu col-md-6">
  <a href="" ng-click="newGame()" class="list-group-item list-group-item-danger">New game</a>
  <a href="" ng-click="gamesInProgress()" class="list-group-item">Games in progress</a>
  <a href="" ng-click="pendingRequests()" class="list-group-item">Pending requests</a>
  <a href="" ng-click="stats()" class="list-group-item">Statistics</a>
  <a href="" class="list-group-item list-group-item-info" ng-click="logout()">Log out</a>
</div>

<div class="panel panel-default col-md-6">
	<div class="panel-heading">
      <h3>{{head}}</h3>
    </div>
	
	<div ng-show="!showForm">
		<form name="form" class="css-form form">
		  <div class="form-group">
		    <input id="input-search" type="text" class="form-control" ng-model="query" name="search" required="" placeholder="Search"/>
		  </div>
		</form>

		<div class="list-group">
		  <a href="" class="list-group-item" ng-repeat="i in items | filter:query " ng-click="i.foo(i)"><strong class="key">{{i.key}}</strong>{{i.value}}</a>
		</div>
		<nav ng-show="showPager">
		  <ul class="pager">
		    <li class="previous" ng-click="getPage(pageFoo, false)"><a href=""><span aria-hidden="true">&larr;</span> prev</a></li>
		    <li class="next" ng-click="getPage(pageFoo, true)"><a href="">next <span aria-hidden="true">&rarr;</span></a></li>
		  </ul>
		</nav>
	</div>

	<div ng-show="showForm">
		<form name="form" class="css-form form">
		  <div class="form-group">
				<input id="input-search" type="text" class="form-control" ng-model="opponent" name="uOpponent" required="" placeholder="Type opponent name"/>
		  		<p class="text-danger" ng-repeat="e in errors">{{e}}</p>

		  </div>
		  <input type="button" ng-click="makeRequest()" class="btn btn-primary" value="Send Request" />
		</form>
	</div>
			
	</div>
</div>