
<div class="page-header">
  <h1>Welcome!</h1>
</div>


<div class="col-xs-7" ng-controller="RegisterCtrl">
  <div id="registration" class="panel panel-danger">
    <div class="panel-heading">
      <h3>Register <small>to play the game</small></h3>
    </div>
    <div class="panel-body">
      <form name="form" class="css-form form">
          <div class="alert alert-warning" ng-repeat="e in errors.non_field_errors">{{e}}</div>
    
          <div class="form-group" show-errors='{ showSuccess: true }'>
            <label for="input-username" > Userame:</label>
            <input id="input-username" type="text" class="form-control" ng-model="user.username" name="uName" required="" placeholder="Tell as your username"/>
            
            
            <div ng-show="form.uName.$error.required" class="help-block">Username is required</div>          
            <p class="text-danger" ng-repeat="e in errors.username">This username is already taken</p>
          </div>

          <div class="form-group" show-errors>
            <label for="input-email"> e-mail:</label>
            <input id="input-email" type="email" class="form-control" ng-model="user.email" name="uEmail" required="" placeholder="Enter your e-mail"/>
            
            
            <span ng-show="form.uEmail.$error.required" class="help-block">Tell us your email.</span>
            <span ng-show="form.uEmail.$error.email" class="help-block">This is not a valid email.</span>
            
            <p class="text-danger" ng-repeat="e in errors.email">{{e}}</p> 
          </div>

          <div class="form-group" show-errors>
            <label for="input-password"> Password:</label>
            <input id="password" name="uPassword" type="password" class="form-control" ng-model="user.password" required="" placeholder="Type your password">
            <div ng-show="form.uPassword.$error.required" class="help-block">Password is required.</div> 
          </div>

          <input type="button" ng-click="register(user)" class="btn btn-danger" value="Sign Up" />

      </form>
    </div>
  </div>
</div>

<div class="col-xs-5" ng-controller="LoginCtrl">
  <div id="login" class="panel panel-success">
    <div class="panel-heading">
      <h3>Login <small>if you have account already</small></h3>
    </div>
    <div class="panel-body">
      <form name="form" class="css-form form">
          <div class="alert alert-warning" ng-repeat="e in loginErrors.non_field_errors">{{e}}</div>

          <div class="form-group" show-errors='{ showSuccess: true }'>
            <label for="input-username" > Userame:</label>
            <input id="input-username" type="text" class="form-control" ng-model="username" name="uName" required="" placeholder="Type your username"/>
            
            <p class="text-danger" ng-repeat="e in loginErrors.username">{{e}}</p>
            <div ng-show="form.uName.$error.required" class="help-block">Username is required</div>          
          </div>

          <div class="form-group" show-errors>
            <label for="input-password"> Password:</label>
            <input id="password" name="uPassword" type="password" class="form-control" ng-model="password" required="" placeholder="Type your password">
            <p class="text-danger" ng-repeat="e in loginErrors.password">{{e}}</p>
            <div ng-show="form.uPassword.$error.required" class="help-block">Password is required.</div> 
          </div>

          <input type="button" ng-click="signIn()" class="btn btn-success" value="Sign In" />
      </form>
    </div>
  </div>
</div>