/* app css stylesheet */
/*body {
	padding: 2%;
}*/

.form-group .help-block {
  display: none;
}

.form-group.has-error .help-block {
  display: block;
}

.right {
	float: right;
}

.menu {
	text-align: center;
}

.key {
	margin-right: 10px;
}

.canvas-container {
   width: 100%;
   text-align:center;
}

canvas {
   display: inline;
}
