{% extends "game/base.html" %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_messages %}
{% bootstrap_javascript %}

{% block content %}

<div class="container">
	
	<div class="panel">
		<div class="panel-heading">
			<h3 class="text-info">Log in</h3>
		</div>
		<div class="panel-body">
			<form action={% url 'login'  %} method="post" class="form">
			{% csrf_token %}
			   {% bootstrap_form form layout='inline'%}
			   {% buttons %}
			   	<button type="submit" class="btn btn-primary">
			   	{% bootstrap_icon "ok" %} Login
			   	</button>
			   {% endbuttons %}
			   <a href={% url 'password_reset' %}>Forgot password?</a>
			   <input type="hidden" name="next" value="{{next}}" />

			</form>
		</div>
	</div>
</div>

{% endblock %}