{% extends "game/base.html" %}

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_messages %}



{% block content %}
<div class="container">
	<div class="panel">
		<div class="panel-heading">
			<h3 class="text-info">{{title}}</h3>
		</div>
		<div class="panel-body">
			<h4 class="text-info">{{message}}</h4>
			<form action={% url next  %} method="post" class="form">
			{% csrf_token %}
			   {% bootstrap_form form layout='inline'%}
			   {% buttons %}
			   	<button type="submit" class="btn btn-primary">
			   	{% bootstrap_icon "ok" %} Reset
			   	</button>
			   {% endbuttons %}
			</form>
		</div>
	</div>
</div>
{% endblock %}